.textarea_container{
  p{
    margin-left: 10px;
  }
  textarea{
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    min-height: 200px;
    margin: 10px;
    border: 1px solid #828282;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    overflow-x: hidden;
  }
}
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px rgba(38, 45, 51, 0.3);
  -webkit-box-shadow: inset 0 0 20px rgba(38, 45, 51, 0.3);
  border-radius: 0 10px;
}

textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 100px rgba(38, 45, 51, 1);
  -webkit-box-shadow: inset 0 0 100px rgba(38, 45, 51, 1);
  border-radius: 0 10px;
}