.input_container{
  width: 100%;
}
.input{
  width: 100%;
  border: 1px solid #828282;
}
.small{
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 16px;
}
.medium{
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 16px;
}
.big{
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
}
.input_info{
  margin: 1px 5px;
  font-size: 12px;
  width: calc(100% - 10px);
  word-wrap: break-word;
}