@import '../../fonts/fonts.scss';

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @media (max-width:999px) {
    margin-bottom: 20px;
    padding: 0 7px;
  }
}
.content_catalog{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media (max-width:767px) {
    margin-top: 15px;
  }
}
.content_name{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border-bottom: 1px solid #e4e2e2;
  @media (max-width:767px) {
   font-size: 18px;
   line-height: 22px; 
  }
}

.info_company{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  h3{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  p{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
  @media (max-width:767px) {
    h3{
      font-size: 18px;
    }
    p{
      font-size: 16px;
      line-height: 16px;
    }
  }
}
.guarantees{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  h3{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
  }
  @media (max-width:767px) {
    margin-top: 20px;
    h3{
      font-size: 20px;
      line-height: 24px;
    }
  }
}
.guarantees_item{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  span{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: 128px;
      height: 128px;
    }
    p{
      text-align: center;
      font-size: 16px;
      line-height: 21px;
    }
  }
  @media (max-width:767px) {
    margin-top: 10px;
    flex-wrap: wrap;
    span{
      width: calc(50% - 5px);
      justify-content: start;
      align-items: center;
      flex-direction: row;
      img{
        width: 50px;
        height: 50px;
      }
      p{
        font-size: 12px;
        line-height: 14px;
      }
    }
    span:nth-child(2n){
      margin-left: 10px;
    }
  }
}
.partners{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  h3{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
  }
  @media (max-width:767px) {
    margin-top: 20px;
    h3{
      font-size: 20px;
      line-height: 24px;
    }
  }
}
.partners_img{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  img{
    width: 300px;
  }
  @media (max-width:767px) {
    margin-top: 15px;
    img{
      width: 50%;
    }
  }
}