.auth{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  margin: 0 auto;
  h1{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}