@import '../../fonts/fonts.scss';

.search_container{
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    form{
      width: 100%;
    }
  }
}
.search{
  width: 700px;;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  background: rgb(255, 255, 255);
  input{
    width: 660px;
    height: 40px;
    border-radius: 18px;
    background: rgb(255, 255, 255);
    color: #828282;
    padding: 0 5px 0 15px;
    font-size: 20px;
    font-weight: 300;
  }
  span{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    svg{
      fill: #929292;
      cursor: pointer;
    }
  }
  @media (max-width: 767px) {
    width: calc(100% - 60px);
    margin: 0 30px;
    input{
      width: calc(100% - 30px);
      height: 30px;
    }
    span{
      width: 30px;
      height: 30px;
      padding: 2px;
    }
  }
}
.search_result{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(700px - 24px);
  background-color: rgb(255, 255, 255);
  margin-left: 12px;
  border-top: 1px solid #e4e2e2;
  a{
    text-decoration: none;
    color: black;
  }
  @media (max-width: 767px) {
    width: calc(100% - 96px);
    margin-left: 42px;
  }
}
.search_card{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e2e2;
  padding: 2px 5px;
  img{
    width: 46px;
    height: 46px;
  }
  p{
    margin-left: 5px;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding: 0.5px 3px;
    img{
      width: 40px;
      height: 40px;
    }
  }
}
.search_card:hover{
  background: #e4e2e2;
}