@import '../../fonts/fonts.scss';

/* Переменные */
$primary-color: #2784e0;
$gray-color: #f2f2f2;
$border-color: rgb(233, 230, 230);

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @media (max-width:767px) {
    padding: 60px 0 0 0;
  }
}
.content_catalog{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media (max-width:767px) {
    padding: 60px 0 0 0;
  }
}
.content_name{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border-bottom: 1px solid #e4e2e2;
}

.info_company{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  h3{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  p{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
}
.guarantees{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  h3{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
  }
}
.guarantees_item{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  span{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
      height: 100px;
    }
    p{
      text-align: center;
      font-size: 16px;
      line-height: 21px;
    }
  }
}
.partners{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  h3{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
  }
}
.partners_img{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}