@font-face {
  font-family: 'RobotoSlab';
  font-style: 'light';
  font-weight: 300;
  src: url("./RobotoSlab-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'RobotoSlab';
  font-style: 'regular';
  font-weight: 400;
  src: url("./RobotoSlab-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'RobotoSlab';
  font-style: 'bold';
  font-weight: 500;
  src: url("./RobotoSlab-Bold.ttf") format("truetype");
  font-display: swap;
}