@import '../../fonts/fonts.scss';

.catalog_card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 185px;
  // min-height: 250px;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 18.5px;
  a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-top: 0;
    color: black;
  }
}
.card:nth-child(5n+1){
  margin-left: 0;
}
.card_img{
  width: 100%;
  max-height: 185px;
  border-radius: 16px 16px 0 0;
}
.card_name{
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
