@import '../../fonts/fonts.scss';

.dropzone_container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #828282;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px;
}
.dropzone{
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px dotted #828282;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(255, 255, 255);
}
.thumbs_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  border-radius: 10px;
};
.thumb{
  display: inline-flex;
  border-radius: 2;
  border: 1px solid #d1d1d1;
  margin: 5px 0;
  max-width: 33%;
  max-height: 100%;
  padding: 4px;
  box-sizing: border-box;
}
.thumbInner{
  display: flex;
  overflow: hidden;
  min-width: 0;
  transform: scale(1);
}
.img{
  display: block;
  width: auto;
  max-height: 100px;
};
.close {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 50;
  &:before, &:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #262D33;
  }
  &:before {
    transform: rotate(45deg);
    right: 0
  }
  &:after {
    transform: rotate(-45deg);
    top: 0
  }
}
