.edit_category{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.confirm{
  width: 100%;
  p{
    display: flex;
  }
}