@import '../../fonts/fonts.scss';

.wrapper {
  width: 100%;
  height: 80px;
  background-color: #262D33;
  flex: 0 0 auto;
}
.container{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  font-size: 16px;
  line-height: 22px;
  @media (max-width: 767px) {
    padding: 60px 0 0 0;
  }
}
