@import '../../fonts/fonts.scss';

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  h3{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 0;
    text-align: center;
  }
}
.wrapper_control{
  width: 100%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_block{
  width: 100%;
}
.info_control{
  width: 100%;
  margin: 5px 0;
  display: flex;
}
.left_input{
  flex-grow: 1;
  margin-right: 5px;
}
.right_input{
  flex-grow: 1;
  margin-right: 5px;
}
.button_container{
  width: 100%;
  display: flex;
  width: 100%;
  margin: 10px 0;
}
