@import '../../fonts/fonts.scss';

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @media (max-width: 767px) {
    padding: 60px 0 0 0;
  }
  h1{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 30px;
  }
}
.info_errors{
  margin-top: 20px;
}
.product_cards{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}