@import '../../fonts/fonts.scss';

.wrapper {
  width: 100%;
  height: 80px;
  background-color: #262D33;
}
.container{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width:767px) {
    padding: 60px 0 0 0;
  }
}
.logo{
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  img{
    width: 200px;
  }
}
.menu{
  ul{
    display: flex;
    font-size: 20px;
    li{
      margin-left: 12px;
      a{
        color: #f2f2f2;
      }
      .activeLink{
        color: #efbc63;
      }
    }
  }
}